/* globals */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and ( min-device-pixel-ratio: 1.25),
       only screen and ( min-resolution: 200dpi),
       only screen and ( min-resolution: 1.25dppx) {
          -webkit-font-smoothing: subpixel-antialiased;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #101518;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s ease opacity;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, a {
  text-transform: uppercase;
}

h1, h2, h3 {
  letter-spacing: 4px;
  font-weight: 100;
}

#header, #price, #cart {
  color: #c3e2ca;
}

h4 {
  color: #101518;
  letter-spacing: 2px;
  font-weight: 300;
}

p {
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

button:focus {
  outline:0;
}

.btn {
  transition: all 500ms ease;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover {
  color: #101518;
  background-color: #8fc99c;
}

.btn-success.active, .btn-success:active, .btn-success:hover {
  color: #101518;
  background-color: #ecd675;
}

.fa-inverse {
  color: #101518;
}

.wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url('../bg.png');
  background-repeat: repeat;
}

.fixed {
  position: fixed;
}

.centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* landing */
.masthead {
  position: relative;
  display: block;
  border: 10px solid transparent;
  cursor: pointer;

  /* to be sized for image also add breakpoints */
  width: 450px;
  height: 450px;
  background-position: center;
  background-image: url('../v001.jpg');
}

.masthead h1 {
  margin-top: 15px;
  color: #101518;
  line-height: 1em;
  font-size: 2.9em;
  text-align: center;
}

.masthead-footer p {
  letter-spacing: 3px;
  line-height: 1em;
  font-size: 0.8em;
}

.masthead-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 5px;
}

.masthead-overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transition: all ease 500ms;
}

.masthead-overlay h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.masthead-overlay:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

/* store */
.site-navigation {
  padding: 15px 0 15px;
  text-align: center;
}

.site-store {
  margin: 45px 0 65px;
  text-align: center;
}

.site-product {
  margin: 25px 0 65px;
  padding: 15px;
}

.site-product-image-alt {
  padding-top: 20px;
}

.site-product-size {
  width: inherit;
}

.site-store img {
  display: block;
  margin: auto;
}

.site-cart {
  margin: 25px 0 65px;
}

/* order */
@media (min-width: 768px) {
  .form-group.inline-form-right {
    padding-right: 10px;
  }
  .form-group.inline-form-left {
    padding-left: 10px;
  }
}

/* login */
.login {
  max-width: 500px;
}

/* admin */
.admin {
  max-width: 500px;
}

/* social links */
.social {
  margin-top: 25px;
  margin-bottom: 25px;
}

.social-links {
  padding: 0;
  text-align: center;
}

.social-links li {
   display: inline;
   padding: 10px;
}

.social-links li a {
  display: inline-block;
  font-size: 1.2em;
}

/* sticky footer */
@media (min-width: 1200px) and (min-height: 900px) {
  .social {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
  }
}


/* alerts */
.global-alert {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 100;
}

.alert {
  margin: 0 0 5px 0;
  -webkit-transition: 0.5s linear all;
     -moz-transition: 0.5s linear all;
       -o-transition: 0.5s linear all;
          transition: 0.5s linear all;
}

.alert.ng-enter {
  opacity: 0;

  -webkit-transition: 0.5s linear all;
     -moz-transition: 0.5s linear all;
       -o-transition: 0.5s linear all;
          transition: 0.5s linear all;
}
.alert.ng-leave {
  opacity: 1;

  -webkit-transition: 0.5s linear all;
     -moz-transition: 0.5s linear all;
       -o-transition: 0.5s linear all;
          transition: 0.5s linear all;
}
.alert.ng-enter.ng-enter-active {
  opacity: 1;
}
.alert.ng-leave.ng-leave-active {
  opacity: 0;
}
