<div class="col-sm-6">
  <div class="site-product-image">
    <img ng-src="{{::vm.item.details.image}}" class="img-responsive pull-right" height="450" width="400" alt="{{::vm.item.description}}" />
  </div>
</div>

<div class="col-sm-4">
  <div class="site-product-description">
    <h3>
      '{{vm.item.description}}'<br />
      <small>by {{vm.item.details.artist}}</small>
    </h3>

    <h4 id="price">
      ${{vm.item.cost / 100 | number: 2}}<br />
      <small>{{vm.item.inventory}} of 10 remaining</small>
    </h4>

    <p>
      The {{vm.item.details.series}} limited edition print by {{vm.item.details.artist}}, in response to<br />
      '{{vm.item.description}}' from the Nothing Lavish EP,<br />
      released March, 2016 on Bedlam Records.<br />
      <br />
      {{vm.item.details.size}}<br />
      Printed on {{vm.item.details.stock}}<br />
      Mounted on {{vm.item.details.mount}}<br />
      Support <a target="_blank" href="{{vm.item.details.link}}">{{vm.item.details.artist}}</a>
    </p>
  </div>

  <div class="site-product-submit">
    <button ng-click="vm.order(vm.item)" class="btn btn-md btn-primary"><i class="fa fa-fw fa-credit-card"></i>&nbsp;Order&nbsp;<b>'{{::vm.item.description}}'</b></button>
    <button ng-click="vm.add(vm.item)" class="btn btn-md btn-success"><i class="fa fa-fw fa-shopping-cart"></i>&nbsp;Add to cart</button>
  </div>
</div>
