<div class="col-sm-6">
  <div class="site-product-image">
    <img ng-src="{{vm.selectedImage}}" class="img-responsive img-rounded pull-right" height="450" width="400" alt="{{::vm.item.description}}" />
  </div>
</div>

<div class="col-sm-4">
  <div class="site-product-description">
    <h3>
      '{{::vm.item.description}}'<br />
      <small>by {{vm.item.details.artist}}</small>
    </h3>

    <h4 id="price">
      ${{::vm.item.cost / 100 | number: 2}}<br />
    </h4>

    <p>
      {{::vm.item.description}} - Twin Haus<br />
      {{::vm.item.details.style}}<br />
      {{::vm.item.details.material}}<br />
      <br />
      {{::vm.item.details.model}}<br />
      Artwork by <a target="_blank" href="{{vm.item.details.link}}">{{vm.item.details.artist}}</a><br />
      Available for immediate dispatch.
    </p>

  </div>

  <div class="form-group">
      <select class="site-product-size" name="Size" class="form-control input-md" ng-init="vm.item.size = 'Small'" ng-model="vm.item.size" required>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
        <option value="X-Large">X-Large</option>
      </select>
  </div>

  <div class="site-product-submit">
    <button ng-click="vm.order(vm.item)" class="btn btn-md btn-primary"><i class="fa fa-fw fa-credit-card"></i>&nbsp;Order&nbsp;<b>'{{::vm.item.description}}'</b></button>
    <button ng-click="vm.add(vm.item)" class="btn btn-md btn-success"><i class="fa fa-fw fa-shopping-cart"></i>&nbsp;Add to cart</button>
  </div>

  <div class="site-product-image-alt">
    <img ng-click="vm.toggleImage()" ng-src="{{vm.thumbnailImage}}" class="img-rounded" height="150" width="100" alt="{{::vm.item.description}} Rear" />
  </div>
</div>
