<div class="row">

  <div class="col-sm-4">
    <a ui-sref="store">
      <h5>STORE</h5>
    </a>
  </div>

  <div class="col-sm-4">
    <h4 id="header">Twin Haus</h4>
  </div>

  <div class="col-sm-4">
    <a ui-sref="cart">
      <h5>
        <span class="badge">
          <i class="fa fa-fw fa-shopping-cart"></i>{{vm.cartSize}} &nbsp;${{vm.cartTotal / 100 | number: 2}}
        </span>
      </h5>
    </a>
  </div>

</div>
