<div class="col-sm-6">
  <div class="site-product-image">
    <img ng-src="{{::vm.item.details.image}}" class="img-responsive img-rounded pull-right" height="550" width="500" alt="{{::vm.item.description}}" />
  </div>
</div>

<div class="col-sm-4">
  <div class="site-product-description">
    <h3>
      '{{::vm.item.description}}'<br />
    </h3>

    <h4 id="price">
      ${{::vm.item.cost / 100 | number: 2}}<br />
    </h4>

    <p>
      150g Pressed Black Vinyl<br />
      Incl. Digital Download Link<br />
      <br />
      <em>“Both haunting and hedonistic, a swirling miasma of widescreen asceticism that is breathtaking in its audacity”</em><br />
      <a href="http://sonicmasala.blogspot.com.au/2016/03/sonic-masala-presents-twin-haus-nothing.html">Sonic Masala</a><br />
      <br />
      <em>“Twin Haus prove themselves a band unafraid to merge off course into the far reaches of ambient, psych and noise”</em><br />
      <a href="http://rollingstoneaus.com/music/post/first-listen-twin-haus-nothing-lavish/3411-page-1">Rolling Stone Australia</a><br />
      <br />
      <em>“This is sonic heaven of immense proportions”</em><br />
      <a href="http://thesoundofconfusionblog.blogspot.com.au/2016/04/twin-haus-nothing-lavish.html">The Sound of Confusion</a><br />
      <br />
      Released 22nd March 2016<br />
      Bedlam Records: BDM010<br />
      Vinyls dispatch upon commencement of tour on December 12.
    </p>

  </div>

  <div class="site-product-submit">
    <button ng-click="vm.order(vm.item)" class="btn btn-md btn-primary"><i class="fa fa-fw fa-credit-card"></i>&nbsp;Buy&nbsp;</button>
    <button ng-click="vm.add(vm.item)" class="btn btn-md btn-success"><i class="fa fa-fw fa-shopping-cart"></i>&nbsp;Add to cart</button>
  </div>
</div>
