<div class="wrapper">
  <div class="admin centered fixed">

    <h3>
      control panel
      <small>coming soon</small>
    </h3>

    <pre>
      {{vm.user | json}}
    </pre>

    <button ng-click="vm.logout()" class="btn btn-md btn-danger pull-right">logout</button>

  </div>
</div>
