<!-- section -->
<div class="container-fluid">
  <div ui-view></div>
</div>

<div class="global-alert">
  <uib-alert ng-repeat="alert in vm.alerts" ng-show="!vm.alert" class="alert" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</uib-alert>
</div>
