<div class="wrapper">
  <div class="site-navigation">

    <div ng-include src="'/views/partials/nav.html'"></div>

    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="store({section: 1})"><h3>12" Vinyl<br />Preorder</h3></a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="store({section: 2})"><h3>Nothing Lavish EP<br />LTD. ED. Art Series</h3></a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="store({section: 3})"><h3>Merchandise<br />CDs and Tees</h3></a>
      </div>
    </div>
  </div>

  <div class="site-cart">
    <div class="container">
      <div ng-show="vm.cartSize === 0" class="centered fixed">
        <h4 id="cart">Your cart is empty</h4>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <div href ng-repeat="item in vm.cart track by $index" class="list-group-item">
              <h4>{{item.description}} <span ng-hide="item.product !== 'merch'">{{item.size}} </span><small>{{item.product}}</small><small class="pull-right">${{item.cost / 100 | number: 2}}<a href ng-click="vm.remove($index)" class="btn btn-xs"><i class="fa fa-fw fa-remove"></i></a></small></h4>
            </div>
          </div>

          <div class="pull-right">
            <p ng-hide="vm.cartSize === 0" class="text-muted">plus flat rate shipping - $10.00</p>
            <button ng-hide="vm.cartSize === 0" ng-click="vm.checkout()" class="btn btn-md btn-primary"><i class="fa fa-fw fa-credit-card"></i>&nbsp;Checkout&nbsp;<b>${{vm.cartTotal / 100 + 10 | number: 2}}</b></button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
