<div class="centered fixed">
  <div class="masthead fixed">
    <div class="masthead-overlay">
      <h1><a ui-sref="store">ENTER STORE</a></h1>
    </div>
    <h1>ORDER<br />NOW</h1>
    <div class="masthead-footer">
      <p>OUT NOW ON BEDLAM RECORDS</p>
    </div>
  </div>
</div>

<div ng-include src="'/views/partials/social.html'"></div>
