<div class="wrapper">
  <div class="login centered fixed">
    <form class="login-form" novalidate>

      <h5>
        twin.haus
        <small><a ui-sref="landing">return</a></small>
      </h5>

      <div class="input-group">
        <input ng-model="vm.user.password" ng-disabled="vm.submitting" class="form-control" type="password" placeholder="place your myki in the cradle">
        <span class="input-group-btn">
          <button ng-click="vm.login()" ng-class="vm.submitting ? 'btn-primary' : 'btn-success'" class="btn btn-md" type="submit">
            <i ng-class="vm.submitting ? 'fa-refresh fa-spin' : 'fa-check-circle'" class="fa fa-fw"></i>
          </button>
        </span>
      </div>

    </form>
  </div>
</div>
