<div class="wrapper">
  <div class="site-navigation">

    <div ng-include src="'/views/partials/nav.html'"></div>

    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="store({ section: 1 })"><h3>12" Vinyl<br />Preorder</h3></a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="store({ section: 2 })"><h3>Nothing Lavish EP<br />LTD. ED. Art Series</h3></a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="store({ section: 3 })"><h3>Merchandise<br />CDs and Tees</h3></a>
      </div>
    </div>

  </div>

  <div class="site-product">

    <div class="row">
      <div class="col-sm-12">
        <!-- products -->
        <section ng-if="vm.item.product === 'vinyl'" ng-include="'/views/partials/vinyl.html'"></section>
        <section ng-if="vm.item.product === 'artwork'" ng-include="'/views/partials/artwork.html'"></section>
        <section ng-if="vm.item.product === 'merch'" ng-include="'/views/partials/merchandise.html'"></section>
      </div>
    </div>

  </div>

</div>
