<div class="wrapper">

  <div class="site-navigation">

    <div ng-include src="'/views/partials/nav.html'"></div>

    <div class="row">
      <div class="col-sm-4">
        <a href ng-click="vm.section(1)"><h3>12" Vinyl<br />Preorder</h3></a>
      </div>
      <div class="col-sm-4">
        <a href ng-click="vm.section(2)"><h3>Nothing Lavish EP<br />LTD. ED. Art Series</h3></a>
      </div>
      <div class="col-sm-4">
        <a href ng-click="vm.section(3)"><h3>Merchandise<br />CDs and Tees</h3></a>
      </div>
    </div>

  </div>
  <div class="site-store">

    <div class="container-fluid">
      <div class="row">
        <section ng-show="vm.is(1)">
          <div class="site-product">
            <div class="row">
              <div class="col-sm-12">
                <div ng-include src="'/views/partials/vinyl.html'"></div>
              </div>
            </div>
          </div>
          <!--

          redirect straight to vinyl product

          <div ng-repeat="product in vm.products | filter: {product: 'vinyl'}">
            <div class="col-sm-12">
              <a ui-sref="product({pid: product.pid})"><img ng-src="{{::product.details.image}}" class="img-responsive img-rounded" height="500" width="450" alt="{{::product.description}}" /></a>
              <h5>
                <a ui-sref="product({pid: product.pid})">{{::product.description}}</a>
              </h5>
            </div>
          </div>
          
          -->
        </section>
        <section ng-show="vm.is(2)">
          <div ng-repeat="product in vm.products | filter: {product: 'artwork'}">
            <div class="col-md-6 col-lg-3">
              <a ui-sref="product({pid: product.pid})"><img ng-src="{{::product.details.thumbnail}}" class="img-responsive" height="500" width="450" alt="{{::product.description}}"</a>
                <h5>
                  <a ui-sref="product({ pid: product.pid})">{{::product.description}}</a><br />
                  <small> by {{::product.details.artist}}</small>
                </h5>
            </div>
          </div>
        </section>
        <section ng-show="vm.is(3)">
          <div class="col-sm-3"></div>
          <div ng-repeat="product in vm.products | filter: {product: 'merch'}">
            <div class="col-sm-3">
              <a ui-sref="product({pid: product.pid})"><img ng-src="{{::product.details.image}}" class="img-responsive img-rounded" height="400" width="350" alt="{{::product.description}}"</a>
              <h5>
                <a ui-sref="product({pid: product.pid})">{{::product.description}}</a><br />
                <small> by {{::product.details.artist}}</small>
              </h5>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </section>
        </div>
    </div>

  </div>
  <div ng-include src="'/views/partials/social.html'"></div>

</div>
